
<div [innerHTML]="Loader"></div>

<app-toastr></app-toastr>
<div class="main-content">
	<section class="section">
		<div class="d-flex space-between align-items-center m-b-15">
			<div class="crumb">
				<!-- <h4>Change Password</h4> -->
				<!-- <ol class="breadcrumb p-0 m-b-0"> -->
					<!-- <li class="breadcrumb-item">Setting</li>
					<li class="breadcrumb-item active" aria-current="page"><a href="javacript:void(0);">Change
							Password</a></li> -->
							<!-- <button type="button" class="btn btn-secondary rad_0 " (click)="go_to_label_setting()">Label Setting</button> -->
          <!-- <button type="button" class="btn btn-secondary rad_0 dash_tab" (click)="go_to_change_pass()">Change password</button>   -->
				<!-- </ol> -->
			<div class="breadcrumb-new flat">
               <a href="javascript:" (click)="go_to_label_setting()">Label Setting</a>
               <a href="javascript:" (click)="go_to_change_pass()"  class="active">Change password</a>
               <a href="https://dev.shipyaari.com/angularapi/pincode_download" target="blank" >Download Pincodes</a>
            </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off" novalidate>
									<div class="form-group">
										<label>Current Password<span class="text-danger">*</span></label>
										<input type="password" class="form-control"
											placeholder="Please Enter Current Password" [(ngModel)]="currentpassword"
											name="currentpassword" #Currentpassword="ngModel" required
											[ngClass]="{'is-invalid': f.submitted || Currentpassword.errors && (Currentpassword.touched || Currentpassword.dirty ), 'is-valid':Currentpassword.valid}">
										<div class="invalid-feedback">
											<strong *ngIf="Currentpassword.errors?.required">
												Please enter current password.</strong>
										</div>	
									</div>
									<div class="form-group">
										<label for="formGroupExampleInput2">New Password<span class="text-danger">*</span></label>
										<input type="password" class="form-control" (keyup)="check_Pass()"
											placeholder="Please Enter New Passwod" [(ngModel)]="newpassword"
											name="newpassword" #Newpassword="ngModel" required
											[ngClass]="{'is-invalid': f.submitted || Newpassword.errors && (Newpassword.touched || Currentpassword.dirty), 'is-valid':Newpassword.valid}">
										<div class="invalid-feedback">
											<strong *ngIf="Newpassword.errors?.required">Please enter new password.</strong>
										</div>

									</div>
									<div class="form-group">
										<label for="formGroupExampleInput2">Confirm Password<span class="text-danger">*</span></label>
										<input type="password" class="form-control" (keyup)="check_Pass()"
											placeholder="Please Enter Re-type Password" [(ngModel)]="confpassword"
											name="confpassword" #Confpassword="ngModel" required
											[ngClass]="{'is-invalid': f.submitted || Confpassword.errors && (Confpassword.touched || Confpassword.dirty), 'is-valid':Confpassword.valid}">
										<div class="invalid-feedback">
											<strong *ngIf="Confpassword.errors?.required">Please enter confirm password.</strong>
										</div>

										<small *ngIf="flag == 1" class="text-danger">Password Not Matched !!</small>
										<small *ngIf="flag == 0" class="text-success">Password Matched !!</small>
									</div>
									<button type="submit" class="btn btn-primary btn-sm mb-2">Change Password</button>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-lg-6"></div>
		</div>
	</section>
</div>