.dot-yellow {
   display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    margin: 0 auto;
    background-color: #ffff00;
   box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}
.dot-red {
   display: flex;
    width: 6px;
    height: 6px;
   border-radius: 50px;
    margin: 0 auto;
    background-color: #ff4500;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgb(255 0 0 / 50%) 0 2px 12px;
}
.dot-green {
   display: flex;
  width: 6px;
    height: 6px;
   border-radius: 50px;
    margin: 0 auto;
    background-color: #006400;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
.profile-tab{
    width: 103px;
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.dot {
  animation: blink 2s infinite;
}
.commu{
    height: 32px;
}