<div [innerHTML]="Loader"></div>
<app-toastr></app-toastr>
<div class="col-lg-12 m-t-10">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="form-check form-check-inline" style="float: right;">
                        <a href="javascript:" data-toggle="modal" data-target="#exampleModal">
                        <button type="button" class="btn btn-primary btn-sm mb-1" (click)="download_report()">Download Report</button>
                        </a>
                     </div>
            <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" >
            <div class="table-responsive m-t-5">
                <table class="table table-striped table-order" id="save-stage">
                    <thead class="text-center">
                        <tr>
                           <th>Sr. No</th>
                           <th>Pincode</th>
                           <th>City</th>
                           <th>State</th>
                           <th>No. Of Shipment</th>
                            <th>Courier Name</th>                          
                            <th>Affected Date</th>
                            <th>Resumption Date</th>
                            <th>Delivery Affected</th>
                            <th>Reason</th>
                        </tr>     
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor ="let data of all_list; let i = index " >
                            <td>{{i+1}}</td>
                            <td>{{data.delivery_pincode}}</td>
                            <td>{{data.delivery_city}}</td>
                            <td>{{data.delivery_state}}</td>
                            <td>{{data.shipments}}</td>
                            <td>{{data.couier_name}}</td>
                            <td>{{data.AffectedDate}}</td>
                            <td>{{data.ResumptionDate}}</td>
                            <td>{{data.DeliveryAffected}}</td>
                            <td>{{data.reason}}</td>                            
                        </tr>
                         <tr *ngIf="all_list == null || all_list.length == 0">
                                <td colspan="10">
                                   <div class="col-lg-12 mt-5 mb-5 text-center">
                                      <img src="assets/img/alert.png">
                                      <p class="mb-0"><small>Data Not Found</small></p>
                                   </div>
                                </td>
                             </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

