<div *ngIf="flag==1" class="row" id="chart">
  <div class="col-2"></div>
   <div class="col" style="margin-top: 25px;">
        <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [responsive]="chartOptions.responsive"
     
    ></apx-chart>
   </div>
    <div class="col-2"></div>
  </div>
  <div *ngIf="flag!=1" class="row" id="chart">
  <div class="col-2"></div>
   <div class="col" style="margin-top: 25px;">
        <!-- <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [responsive]="chartOptions.responsive"
     
    ></apx-chart> -->
    <div class="text-center col-lg-12 mt-5 mb-5">
       <img src="assets/img/alert.png">
      <p class="mb-0"><small>No data Found</small></p>
    </div>
   </div>
    <div class="col-2"></div>
  </div>
  